/*75% 100% 100% 85% / 100% 79% 95% 0% */

/*51% 49% 50% 50% / 72% 73% 28% 26% */

/*21% 84% 65% 38% / 22% 67% 28% 68% */

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  color: white;
}

section {
  box-sizing: border-box;
  border-radius: 0% 0% 89% 59% / 0% 0% 100% 58%;
  position: relative;
  width: 180%;
  height: 120vh;
  margin-top: -20%;
  margin-left: -50%;
  display: block;
  padding-top: 20%;
  padding-left: 50%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body .header {
  box-sizing: border-box;
  width: 180%;
  height: 120vh;
  background-image: linear-gradient(to right, #130cb7, #52e5e7);
  border-radius: 0% 0% 89% 59% / 0% 0% 100% 58%;
  margin-top: -45vh;
  margin-left: -50%;
  padding: 45vh 0 0 50%;
  position: relative;
  display: block;
  z-index: 400;
}

header aside {
  width: 100vw;
  height: 50px;
}

aside div {
  padding: 15px calc((100vw / 6 - 170px) / 2) 0px calc((100vw / 6 - 170px) / 2);
  width: 170px;
  min-height: 30px;
  float: left;
  text-align: center;
}

.osoba a:hover {
  cursor: pointer;
}

article {
  width: 35vw;
  display: inline-block;
}

.powitanie {
  margin-top: 100px;
  margin-left: 8%;
}

.powitanie header {
  margin-bottom: 20px;
}

.powitanie h2 {
  letter-spacing: 2px;
}

.powitalny_content {
  margin-bottom: 20px;
}

.guzik {
  width: 170px;
  height: 40px;
  display: inline-block;
  border: 2px solid #0df2b4;
  text-align: center;
  line-height: 30px;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: all 0.5s;
}

.guzik:focus {
  animation: space .5s;
}

.guzik:last-of-type {
  margin-left: 30px;
}

.guzik:first-of-type {
  margin-left: 40px;
}

.guzik:hover {
  background-color: #0df2b4;
  cursor: pointer;
  letter-spacing: 5px;
}

.menu-trigger:focus ~ nav {
  visibility: visible;
}

nav {
  width: 170px;
  margin-left: 40px;
  visibility: hidden;
  transition: all .5s;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  position: absolute;
}

.container button {
  width: 170px;
  height: 40px;
  display: inline-block;
  border: 2px solid #0df2b4;
  background-color: #0df2b4;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  outline: none;
  transition: all 0.5s;
}

.container button:hover {
  background-color: #0ce1a3;
  letter-spacing: 5px;
}

.container button:focus {
  animation: space .5s;
}

.nie_obrazek {
  margin-left: 10%;
}

.nie_box {
  width: 110px;
  height: 110px;
  position: relative;
  display: inline-block;
}

.nie_box:last-of-type {
  margin-left: 80px;
}

.nie_zdj {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #09039d;
  overflow: hidden;
  display: block;
  transition: 2s all ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  perspective: 300px;
}

.nie_zdj img {
  width: 100px;
  height: 100px;
  backface-visibility: hidden;
}

.bgc {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #09039d;
  border: 5px solid #09039d;
  display: block;
  transition: 2s all ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  perspective: 300px;
}

.section_first {
  background-color: #fff;
  color: #333333;
  z-index: 200;
  overflow: hidden;
}

.example {
  width: auto;
  height: auto;
  margin: 0;
  position: absolute;
  bottom: 10%;
  right: 18%;
}

.console {
  background-color: black;
  width: 550px;
  height: 450px;
  border: 3px solid #c0c0c0;
  padding: 10px;
  border-top-width: 20px;
  position: relative;
  border-radius: 3px;
  box-shadow: -10px 10px 20px 10px rgba(0, 0, 0, .15);
}

.console::before,
.console::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  top: -15px;
  border-radius: 50%;
}


.console::before {
  left: 3px;
  background-color: #ff0000;
}

.console::after {
  left: 15px;
  background-color: #ffa500;
}

.typing {
  color: #34d834;
  margin: 0;
}

.typing::before {
  content: 'user@wirus : ~';
  display: block;
}

.typing::after {
  content: '_';
  animation: blink 1s infinite
}

.section_first article {
  margin-top: 12%;
}

.section_first .dalej a {
  color: #333333;
}

.section_second {
  background-image: linear-gradient(to right, #130cb7, #52e5e7);
  z-index: 100;
}

.demo {
  width: 41vw;
  transform: translate(50px, -150px);
}

.section_second .powitanie {
  margin-top: 10%;
}

@keyframes space {
  0% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 5px;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
